<!DOCTYPE html>
<html style="height:100%;background:#1976d2;">
<head>
	<title>加密数据展示</title>
	<meta name="theme-color" content="#1976d2" />
	<meta name="renderer" content="webkit">
	<link rel="Shortcut Icon" href="file/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/vuetify/1.0.0-beta.6/vuetify.min.css">
	<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/vuetify/1.0.0-beta.6/vuetify.min.js"></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
	<script src="file/hybrid-crypto.min.js" ></script>
	<style type="text/css">
	[v-cloak] {display: none;}
	.card--flex-toolbar {margin-top: -64px;}
	table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child){padding: 0 5px;}
</style>
</head>
<body>
	<div id="app" v-cloak>
		<v-app>
			<v-card flat>
				<v-toolbar dark color="primary" flat extended>
					<v-toolbar-side-icon>
						<v-tooltip bottom>
							<v-btn  slot="activator" icon @click="dialog=true">
								<v-icon>lock</v-icon>
							</v-btn>
							<span>设置密钥</span>
						</v-tooltip>
					</v-toolbar-side-icon>
					<v-spacer></v-spacer>
					<span v-if="sec">距离下次更新还有：{{sec}}秒</span>
				</v-toolbar>
				<v-layout row pb-2>
					<v-flex xs12 sm12 md10 lg8  offset-md1 offset-lg2>
						<v-card class="card--flex-toolbar">
							<v-toolbar card prominent style="position: sticky;top:0;">
								<v-menu  ref="datePicker" lazy :close-on-content-click="false"  v-model="datePicker" transition="slide-y-transition" offset-y full-width :nudge-right="0" min-width="290px" :return-value.sync="date">
									<v-toolbar-title slot="activator">{{date}}</v-toolbar-title>
									<v-date-picker v-model="date" locale="zh-cn" min="2018-03-01" no-title scrollable @change="$refs.datePicker.save(date);load()"></v-date-picker>
								</v-menu>
								<v-btn flat  fab small @click="setDate(Date.now())">今日</v-btn>
								<v-btn flat  fab small  @click="setDate(Date.now()-86400000)">昨日</v-btn>
								<v-spacer></v-spacer>
								<span v-if="updateTime">更新时间：{{updateTime}}</span>
								<v-tooltip>
									<v-btn  slot="activator" icon @click="reload" :loading="loading">
										<v-icon>refresh</v-icon>
									</v-btn>
									<span>刷新</span>
								</v-tooltip>
							</v-toolbar>
							<v-alert :value="errMsg" type="error">{{errMsg}}</v-alert>
							<template  v-for="(table, index) in tables">
								<v-divider></v-divider>
								<v-card-text>
									<h4  class=" text-xs-center">{{ table.title }}</h4>
									<v-data-table :headers="table.header" :items="table.items" hide-actions disable-initial-sort class=" text-xs-center">
										<template slot="headers" slot-scope="prop">
											<template v-for="header in prop.headers">
													<td v-if="header.text" :rowspan="header.rowspan||1" :colspan="header.colspan||1">{{header.text}}</td>
													<td v-else>{{header}}</td>
											</template>
										</template>
										<template slot="items" slot-scope="props">
											<tr>
												<template v-for="td in props.item">
													<td v-if="td.text" :rowspan="td.rowspan" :colspan="td.colspan">{{td.text}}</td>
													<td v-else>{{td}}</td>
												</template>
											</tr>
										</template>
										<template v-if="table.footer" slot="footer">
											<template v-for="td in table.footer">
												<td v-if="typeof td=='object'" :rowspan="td.rowspan" :colspan="td.colspan"  class="subheading px-1">{{td.text}}</td>
												<td v-else>{{td}}</td>
											</template>
										</template>
										<template slot="no-data">
											<v-alert :value="true" type="warning">{{table.emsg}}</v-alert>
										</template>
									</v-data-table>
								</v-card-text>
							</template>
						</v-card>
					</v-flex>
				</v-layout>
			</v-card>
			<v-dialog v-model="dialog" max-width="500">
				<v-card>
					<v-card-title class="headline">设置密钥</v-card-title>
					<v-card-text><v-text-field label="私钥"  textarea v-model="pri" required :rules="[rules.required]"></v-text-field></v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn v-if="localStorage.pri" color="green darken-1" flat="flat" @click.native="dialog = false;pri=localStorage.pri">取消</v-btn>
						<v-btn color="green darken-1" flat="flat" @click.native="if(pri){dialog = false;if(!pri.startsWith('-----BEGIN RSA PRIVATE KEY-----'))pri='-----BEGIN RSA PRIVATE KEY-----'+pri;if(!pri.endsWith('-----END RSA PRIVATE KEY-----'))pri+='-----END RSA PRIVATE KEY-----';localStorage.pri=pri;load();}">确定</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-app>
	</div>
	<script type="text/javascript">
		function getNowString(){
			return new Date(Date.now()+8*3600*1000).toISOString();
		}
		var crypt2=new crypt();
		var app=new Vue({
			el: '#app',
			data:{
				datePicker:false,date: getNowString().substr(0, 10),errMsg:null,dialog:false,pri:"",updateTime:null,
				tables:[],netTime:null,loopTime:null,timer:null,sec:null,loading:false,
				rules:{
					required: (value) => !!value || '密钥不能为空',
				}
			},
			methods:{
				reload:function () {app.load();},
				setDate:function(t){if(this.datePicker)return;this.date=new Date(t+8*3600*1000).toISOString().substr(0, 10);this.load();},
				interval:function(){
					if(this.timer)clearInterval(this.timer);
					this.timer=setInterval(()=>{
						if(this.sec>0){
							this.sec--;
						}else if(this.sec==0){
							clearInterval(this.timer);
							this.sec==null;
							this.load();
						}
					},1000);
				},
				load:function(){
					if(this.timer)clearInterval(this.timer);
					this.sec==null;
					this.loading=true;
					this.errMsg=null;
					this.tables=[];
					this.updateTime=null;
					var tn=Date.now();
					this.$http.get('./data/'+this.date+'.json?t='+tn).then(res=>{
						this.loading=false;
						try{
							var t=crypt2.decrypt(this.pri,res.bodyText);
						}catch(e){
							console.error(e);
							this.errMsg='密钥错误';
							app.dialog=true;
							return;
						}
						var tx=JSON.parse(t.message);

						if(tx.netTime){
							this.netTime=new Date(res.headers.get("date")).getTime()-(tn-tn%1000)-tx.netTime+60000;
							this.loopTime=tx.loopTime;
							var tld= Date.now(),tls=this.loopTime-tld%this.loopTime+this.netTime;
							this.sec=(tls+1000-tls%1000)/1000;
							this.interval();
						}
						
						this.tables=tx.data;
						this.updateTime=tx.updateTime;
					},res=>{
						this.loading=false;
						console.error(res,res.status==404)
						if(res.status==404){
							this.errMsg='未找到当日数据'
						}
					});
				}
			}
		});
		var tp=location.hash.substr(1);
		if(tp){
			location.hash="";
			if(!tp.startsWith('-----BEGIN RSA PRIVATE KEY-----'))tp='-----BEGIN RSA PRIVATE KEY-----'+tp;
			if(!tp.endsWith('-----END RSA PRIVATE KEY-----'))tp+='-----END RSA PRIVATE KEY-----';
			app.pri=tp;
			app.dialog=true;
		}else if(localStorage.pri){
			app.pri=localStorage.pri;
			app.load();
		}else{
			app.dialog=true;
		}
	</script>
</body>
</html>